/**** BASICS ****/
@import "basics/base.css";
@import "basics/helpers.css";
@import "basics/layout.css";

/**** COMPONENTS  ****/
@import "components/screen.css";
@import "components/header.css";
@import "components/logo.css";
@import "components/modal.css";
@import "components/card.css";
@import "components/home-page.css";
@import "components/memes-page.css";
@import "components/main-content.css";

/**** SETUP ****/
@import "setup/vars.css";
@import "setup/typography.css";
@import "setup/mq.css";
