body {
    height: 100vh;
}

.main-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}

.main-layout>.full {
    grid-column: 1 / -1;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.card-layout {
    display: grid;
}

.home-page-layout {
    display: grid;
}