:root {
  --clr8: #193022;
  --clr7: #848484;
  --clr6: #1d1d1d;
  --clr5: #4e7408dc;
  --clr4: #5e8020dc;
  --clr3: #4f4e4e;
  --clr2: #606060;
  --clr0: #dcdcdc;
  --clr-1: #d0d0d0;
  --clr-2: #ffffff;
  --clr-3: #f8f8f8;
  --nav-height: 100px;
}